# Node and frontend stuff
/node_modules
npm-debug.log
yarn-error.log

# Laravel compiled and cache
/vendor
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpunit.cache

# Laravel public runtime files
/public/hot
/public/storage

# Do not ignore public/build (IMPORTANT)

# Sensitive files
.env
.env.*
Homestead.json
Homestead.yaml
/auth.json
.phpactor.json

# IDE settings
/.fleet
/.idea
/.nova
/.vscode
/.zed
